@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Utilize desse programa para organizar suas tarefas diárias e assim tornar seus objetivos cada vez mais próximos
        da
        realidade 😀</p>
</div>
